/*Header*/
.negocios{
	width: 75%;
	margin-left: 50%;
	padding-bottom: 2rem;
}

.movil{
	width: 75%;
	margin-left: 50%;
}

.logoETB2{
	width: 90%;
	margin-left: 36%;
	margin-bottom: 10%;
}

.terminos2{
	margin: 0 !important;
}

.promo{
	font-size: 34px;	
	line-height: 35px;
	margin-left: 10%
}

.marginForm{
	margin-left: 1.5rem !important;
	margin-top: 1.5rem !important;
}

.fz{
	font-size: 20px;
}

.iconllamada{
    margin-left: auto;
    margin-right: -15px;
}

.dejanos{
	font-size: 41px;
	color: #0081b5;
	line-height: 1;
	margin: 0;
}

.fz20{
	font-size: 20px;
}

.numeros{
	font-size: 86px;
	letter-spacing: -5px;
}

.border{
	border: 4px solid #ee711a !important;
	}

.terminosfooter{
	font-size: 9px;
}

.formp0{
		padding: 0;
	}

/** Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	/*Header*/
	.negocios{
		width: 70%;
		margin-left: 160%;
		padding-bottom: 1rem;
		margin-top: 3rem;
	}

	.movil{
		width: 70%;
		margin-left: 160%;
	}

	.promo{
		font-size: 34px;	
		line-height: 35px;
	}

	.ultraBanda{
		width: 100%;
		padding-bottom: 30px;
	}

	.dejanos{
	font-size: 30px;
	color: #0081b5;
	line-height: 1;
	margin: 0;
	}
	
	.numeros {
    font-size: 42px;
    letter-spacing: 0px;
	}

	.fz20{
	font-size: 18px;
	}

	.marginForm{
	margin: 0 !important;
	}

	.formp0{
		padding: 0;
	}

	.border{
	border: 4px solid #ee711a !important;
	}
}
/** Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.promo{
		font-size: 34px;	
		line-height: 35px;
	}

	.negocios{
		width: 70%;
		margin-left: 160%;
		padding-bottom: 1rem;
		margin-top: 3rem;
	}

	.movil{
		width: 70%;
		margin-left: 160%;
	}

}
/** Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
	
}
/** Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ..}
/** Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {..}