@charset "UTF-8";
/*!
 * Desarrollo y maquetacion por Brayan Camargo https://brayansti.github.io
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Brayan Camargo
 */
/*!
 * Bootstrap Grid v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width; }

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*, ::after, ::before {
  box-sizing: inherit; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  -ms-flex-order: -1;
  order: -1; }

.order-last {
  -ms-flex-order: 13;
  order: 13; }

.order-0 {
  -ms-flex-order: 0;
  order: 0; }

.order-1 {
  -ms-flex-order: 1;
  order: 1; }

.order-2 {
  -ms-flex-order: 2;
  order: 2; }

.order-3 {
  -ms-flex-order: 3;
  order: 3; }

.order-4 {
  -ms-flex-order: 4;
  order: 4; }

.order-5 {
  -ms-flex-order: 5;
  order: 5; }

.order-6 {
  -ms-flex-order: 6;
  order: 6; }

.order-7 {
  -ms-flex-order: 7;
  order: 7; }

.order-8 {
  -ms-flex-order: 8;
  order: 8; }

.order-9 {
  -ms-flex-order: 9;
  order: 9; }

.order-10 {
  -ms-flex-order: 10;
  order: 10; }

.order-11 {
  -ms-flex-order: 11;
  order: 11; }

.order-12 {
  -ms-flex-order: 12;
  order: 12; }

.offset-1 {
  margin-left: 8.333333%; }

.offset-2 {
  margin-left: 16.666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.333333%; }

.offset-5 {
  margin-left: 41.666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.333333%; }

.offset-8 {
  margin-left: 66.666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.333333%; }

.offset-11 {
  margin-left: 91.666667%; }

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    -ms-flex-order: -1;
    order: -1; }
  .order-sm-last {
    -ms-flex-order: 13;
    order: 13; }
  .order-sm-0 {
    -ms-flex-order: 0;
    order: 0; }
  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1; }
  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2; }
  .order-sm-3 {
    -ms-flex-order: 3;
    order: 3; }
  .order-sm-4 {
    -ms-flex-order: 4;
    order: 4; }
  .order-sm-5 {
    -ms-flex-order: 5;
    order: 5; }
  .order-sm-6 {
    -ms-flex-order: 6;
    order: 6; }
  .order-sm-7 {
    -ms-flex-order: 7;
    order: 7; }
  .order-sm-8 {
    -ms-flex-order: 8;
    order: 8; }
  .order-sm-9 {
    -ms-flex-order: 9;
    order: 9; }
  .order-sm-10 {
    -ms-flex-order: 10;
    order: 10; }
  .order-sm-11 {
    -ms-flex-order: 11;
    order: 11; }
  .order-sm-12 {
    -ms-flex-order: 12;
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.333333%; }
  .offset-sm-2 {
    margin-left: 16.666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.333333%; }
  .offset-sm-5 {
    margin-left: 41.666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.333333%; }
  .offset-sm-8 {
    margin-left: 66.666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.333333%; }
  .offset-sm-11 {
    margin-left: 91.666667%; } }

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    -ms-flex-order: -1;
    order: -1; }
  .order-md-last {
    -ms-flex-order: 13;
    order: 13; }
  .order-md-0 {
    -ms-flex-order: 0;
    order: 0; }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1; }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2; }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3; }
  .order-md-4 {
    -ms-flex-order: 4;
    order: 4; }
  .order-md-5 {
    -ms-flex-order: 5;
    order: 5; }
  .order-md-6 {
    -ms-flex-order: 6;
    order: 6; }
  .order-md-7 {
    -ms-flex-order: 7;
    order: 7; }
  .order-md-8 {
    -ms-flex-order: 8;
    order: 8; }
  .order-md-9 {
    -ms-flex-order: 9;
    order: 9; }
  .order-md-10 {
    -ms-flex-order: 10;
    order: 10; }
  .order-md-11 {
    -ms-flex-order: 11;
    order: 11; }
  .order-md-12 {
    -ms-flex-order: 12;
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.333333%; }
  .offset-md-2 {
    margin-left: 16.666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.333333%; }
  .offset-md-5 {
    margin-left: 41.666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.333333%; }
  .offset-md-8 {
    margin-left: 66.666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.333333%; }
  .offset-md-11 {
    margin-left: 91.666667%; } }

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    -ms-flex-order: -1;
    order: -1; }
  .order-lg-last {
    -ms-flex-order: 13;
    order: 13; }
  .order-lg-0 {
    -ms-flex-order: 0;
    order: 0; }
  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1; }
  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2; }
  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3; }
  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4; }
  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5; }
  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6; }
  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7; }
  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8; }
  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9; }
  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10; }
  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11; }
  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.333333%; }
  .offset-lg-2 {
    margin-left: 16.666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.333333%; }
  .offset-lg-5 {
    margin-left: 41.666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.333333%; }
  .offset-lg-8 {
    margin-left: 66.666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.333333%; }
  .offset-lg-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    -ms-flex-order: -1;
    order: -1; }
  .order-xl-last {
    -ms-flex-order: 13;
    order: 13; }
  .order-xl-0 {
    -ms-flex-order: 0;
    order: 0; }
  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1; }
  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2; }
  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3; }
  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4; }
  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5; }
  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6; }
  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7; }
  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8; }
  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9; }
  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10; }
  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11; }
  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.333333%; }
  .offset-xl-2 {
    margin-left: 16.666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.333333%; }
  .offset-xl-5 {
    margin-left: 41.666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.333333%; }
  .offset-xl-8 {
    margin-left: 66.666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.333333%; }
  .offset-xl-11 {
    margin-left: 91.666667%; } }

.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-table {
  display: table !important; }

.d-table-row {
  display: table-row !important; }

.d-table-cell {
  display: table-cell !important; }

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important; }

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important; }

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important; }
  .d-sm-inline {
    display: inline !important; }
  .d-sm-inline-block {
    display: inline-block !important; }
  .d-sm-block {
    display: block !important; }
  .d-sm-table {
    display: table !important; }
  .d-sm-table-row {
    display: table-row !important; }
  .d-sm-table-cell {
    display: table-cell !important; }
  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 768px) {
  .d-md-none {
    display: none !important; }
  .d-md-inline {
    display: inline !important; }
  .d-md-inline-block {
    display: inline-block !important; }
  .d-md-block {
    display: block !important; }
  .d-md-table {
    display: table !important; }
  .d-md-table-row {
    display: table-row !important; }
  .d-md-table-cell {
    display: table-cell !important; }
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; }
  .d-lg-inline {
    display: inline !important; }
  .d-lg-inline-block {
    display: inline-block !important; }
  .d-lg-block {
    display: block !important; }
  .d-lg-table {
    display: table !important; }
  .d-lg-table-row {
    display: table-row !important; }
  .d-lg-table-cell {
    display: table-cell !important; }
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important; }
  .d-xl-inline {
    display: inline !important; }
  .d-xl-inline-block {
    display: inline-block !important; }
  .d-xl-block {
    display: block !important; }
  .d-xl-table {
    display: table !important; }
  .d-xl-table-row {
    display: table-row !important; }
  .d-xl-table-cell {
    display: table-cell !important; }
  .d-xl-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .d-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media print {
  .d-print-none {
    display: none !important; }
  .d-print-inline {
    display: inline !important; }
  .d-print-inline-block {
    display: inline-block !important; }
  .d-print-block {
    display: block !important; }
  .d-print-table {
    display: table !important; }
  .d-print-table-row {
    display: table-row !important; }
  .d-print-table-cell {
    display: table-cell !important; }
  .d-print-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .d-print-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important; }

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important; }

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important; }

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important; }

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important; }

.flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important; }

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important; }

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important; }

.flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important; }

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important; }

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important; }

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important; }

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important; }

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important; }

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important; }

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important; }

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important; }

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important; }

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important; }

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important; }

.align-self-auto {
  -ms-flex-item-align: auto !important;
  -ms-grid-row-align: auto !important;
      align-self: auto !important; }

.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important; }

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important; }

.align-self-center {
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
      align-self: center !important; }

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important; }

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  -ms-grid-row-align: stretch !important;
      align-self: stretch !important; }

@media (min-width: 576px) {
  .flex-sm-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .flex-sm-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  .flex-sm-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }
  .flex-sm-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }
  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }
  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }
  .flex-sm-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important; }
  .flex-sm-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important; }
  .flex-sm-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important; }
  .flex-sm-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important; }
  .flex-sm-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important; }
  .justify-content-sm-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important; }
  .justify-content-sm-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important; }
  .justify-content-sm-center {
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  .justify-content-sm-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
  .justify-content-sm-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important; }
  .align-items-sm-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important; }
  .align-items-sm-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important; }
  .align-items-sm-center {
    -ms-flex-align: center !important;
    align-items: center !important; }
  .align-items-sm-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important; }
  .align-items-sm-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important; }
  .align-content-sm-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important; }
  .align-content-sm-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important; }
  .align-content-sm-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important; }
  .align-content-sm-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important; }
  .align-content-sm-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important; }
  .align-content-sm-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important; }
  .align-self-sm-auto {
    -ms-flex-item-align: auto !important;
    -ms-grid-row-align: auto !important;
        align-self: auto !important; }
  .align-self-sm-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important; }
  .align-self-sm-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important; }
  .align-self-sm-center {
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
        align-self: center !important; }
  .align-self-sm-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important; }
  .align-self-sm-stretch {
    -ms-flex-item-align: stretch !important;
    -ms-grid-row-align: stretch !important;
        align-self: stretch !important; } }

@media (min-width: 768px) {
  .flex-md-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .flex-md-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }
  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }
  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }
  .flex-md-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important; }
  .flex-md-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important; }
  .flex-md-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important; }
  .flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important; }
  .flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important; }
  .justify-content-md-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important; }
  .justify-content-md-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important; }
  .justify-content-md-center {
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  .justify-content-md-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
  .justify-content-md-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important; }
  .align-items-md-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important; }
  .align-items-md-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important; }
  .align-items-md-center {
    -ms-flex-align: center !important;
    align-items: center !important; }
  .align-items-md-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important; }
  .align-items-md-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important; }
  .align-content-md-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important; }
  .align-content-md-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important; }
  .align-content-md-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important; }
  .align-content-md-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important; }
  .align-content-md-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important; }
  .align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important; }
  .align-self-md-auto {
    -ms-flex-item-align: auto !important;
    -ms-grid-row-align: auto !important;
        align-self: auto !important; }
  .align-self-md-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important; }
  .align-self-md-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important; }
  .align-self-md-center {
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
        align-self: center !important; }
  .align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important; }
  .align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
    -ms-grid-row-align: stretch !important;
        align-self: stretch !important; } }

@media (min-width: 992px) {
  .flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .flex-lg-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  .flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }
  .flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }
  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }
  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }
  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }
  .flex-lg-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important; }
  .flex-lg-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important; }
  .flex-lg-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important; }
  .flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important; }
  .flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important; }
  .justify-content-lg-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important; }
  .justify-content-lg-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important; }
  .justify-content-lg-center {
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  .justify-content-lg-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
  .justify-content-lg-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important; }
  .align-items-lg-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important; }
  .align-items-lg-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important; }
  .align-items-lg-center {
    -ms-flex-align: center !important;
    align-items: center !important; }
  .align-items-lg-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important; }
  .align-items-lg-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important; }
  .align-content-lg-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important; }
  .align-content-lg-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important; }
  .align-content-lg-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important; }
  .align-content-lg-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important; }
  .align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important; }
  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important; }
  .align-self-lg-auto {
    -ms-flex-item-align: auto !important;
    -ms-grid-row-align: auto !important;
        align-self: auto !important; }
  .align-self-lg-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important; }
  .align-self-lg-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important; }
  .align-self-lg-center {
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
        align-self: center !important; }
  .align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important; }
  .align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
    -ms-grid-row-align: stretch !important;
        align-self: stretch !important; } }

@media (min-width: 1200px) {
  .flex-xl-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .flex-xl-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  .flex-xl-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }
  .flex-xl-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }
  .flex-xl-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }
  .flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }
  .flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }
  .flex-xl-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important; }
  .flex-xl-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important; }
  .flex-xl-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important; }
  .flex-xl-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important; }
  .flex-xl-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important; }
  .justify-content-xl-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important; }
  .justify-content-xl-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important; }
  .justify-content-xl-center {
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  .justify-content-xl-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
  .justify-content-xl-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important; }
  .align-items-xl-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important; }
  .align-items-xl-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important; }
  .align-items-xl-center {
    -ms-flex-align: center !important;
    align-items: center !important; }
  .align-items-xl-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important; }
  .align-items-xl-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important; }
  .align-content-xl-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important; }
  .align-content-xl-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important; }
  .align-content-xl-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important; }
  .align-content-xl-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important; }
  .align-content-xl-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important; }
  .align-content-xl-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important; }
  .align-self-xl-auto {
    -ms-flex-item-align: auto !important;
    -ms-grid-row-align: auto !important;
        align-self: auto !important; }
  .align-self-xl-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important; }
  .align-self-xl-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important; }
  .align-self-xl-center {
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
        align-self: center !important; }
  .align-self-xl-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important; }
  .align-self-xl-stretch {
    -ms-flex-item-align: stretch !important;
    -ms-grid-row-align: stretch !important;
        align-self: stretch !important; } }

html, body, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  display: inline-block; }

.row {
  margin-right: 0;
  margin-left: 0; }

.container-fluid, .container {
  padding-right: 0;
  padding-left: 0; }

a {
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

@font-face {
  font-family: 'DINNextLTPro-Black';
  src: url("../fonts/DINNextLTPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Black.otf") format("opentype"), url("../fonts/DINNextLTPro-Black.woff") format("woff"), url("../fonts/DINNextLTPro-Black.ttf") format("truetype"), url("../fonts/DINNextLTPro-Black.svg#DINNextLTPro-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINNextLTPro-Bold';
  src: url("../fonts/DINNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Bold.otf") format("opentype"), url("../fonts/DINNextLTPro-Bold.woff") format("woff"), url("../fonts/DINNextLTPro-Bold.ttf") format("truetype"), url("../fonts/DINNextLTPro-Bold.svg#DINNextLTPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINNextLTPro-Medium';
  src: url("../fonts/DINNextLTPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Medium.otf") format("opentype"), url("../fonts/DINNextLTPro-Medium.woff") format("woff"), url("../fonts/DINNextLTPro-Medium.ttf") format("truetype"), url("../fonts/DINNextLTPro-Medium.svg#DINNextLTPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINNextLTPro-Regular';
  src: url("../fonts/DINNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Regular.otf") format("opentype"), url("../fonts/DINNextLTPro-Regular.woff") format("woff"), url("../fonts/DINNextLTPro-Regular.ttf") format("truetype"), url("../fonts/DINNextLTPro-Regular.svg#DINNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINNextLTPro-Light';
  src: url("../fonts/DINNextLTPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Light.otf") format("opentype"), url("../fonts/DINNextLTPro-Light.woff") format("woff"), url("../fonts/DINNextLTPro-Light.ttf") format("truetype"), url("../fonts/DINNextLTPro-Light.svg#DINNextLTPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
    font-family: 'DINNextLTPro-BlackItalic';
    src: url('../fonts/DINNextLTPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-BlackItalic.woff') format('woff'),
        url('../fonts/DINNextLTPro-BlackItalic.ttf') format('truetype'),
        url('../fonts/DINNextLTPro-BlackItalic.svg#DINNextLTPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'DINNextLTPro-HeavyCondensed';
    src: url('../fonts/DINNextLTPro-HeavyCondensed.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-HeavyCondensed.woff') format('woff'),
        url('../fonts/DINNextLTPro-HeavyCondensed.ttf') format('truetype'),
        url('../fonts/DINNextLTPro-HeavyCondensed.svg#DINNextLTPro-HeavyCondensed') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTProHeavyItalic';
    src: url('../fonts/DINNextLTPro-HeavyItalic.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-HeavyItalic.woff') format('woff'),
        url('../fonts/DINNextLTPro-HeavyItalic.ttf') format('truetype'),
        url('../fonts/DINNextLTPro-HeavyItalic.svg#DINNextLTPro-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

.font--white {
  color: #ebebeb; }

.font--white-two {
  color: #ffffff; }

.font--dark-sky-blue {
  color: #3b98db; }

.font--ocean-blue {
  color: #006cb2; }

.font--nice-blue {
  color: #136ab8; }

.font--twilight-blue {
  color: #09487d; }

.font--orange {
  color: #ee711a; }

.font--warm-grey {
  color: #707070; }

.font--charcoal-grey {
  color: #2f3640; }

.font--terminos {
  font-size: 20px;
  color: #ffffff;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: 'DINNextLTPro-Light'; }
  .font--terminos a {
    color: #ffffff; }
  @media only screen and (max-width: 767px) {
    .font--terminos {
      font-size: 18px; } }

body, html {
  font-size: 16px;
  font-family: 'DINNextLTPro-Regular' , sans-serif; }

/*Margins ↓↓↓*/
.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

.mr10 {
  margin-right: 10px; }

.ml10 {
  margin-left: 10px; }

/*Margins ↓↓↓*/
.mt20 {
  margin-top: 20px; }

.mb20 {
  margin-bottom: 20px; }

.mr20 {
  margin-right: 20px; }

.ml20 {
  margin-left: 20px; }

/*Margins ↓↓↓*/
.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mr30 {
  margin-right: 30px; }

.ml30 {
  margin-left: 30px; }

/*Margins ↓↓↓*/
.mt40 {
  margin-top: 40px; }

.mb40 {
  margin-bottom: 40px; }

.mr40 {
  margin-right: 40px; }

.ml40 {
  margin-left: 40px; }

/*Margins ↓↓↓*/
.mt50 {
  margin-top: 50px; }

.mb50 {
  margin-bottom: 50px; }

.mr50 {
  margin-right: 50px; }

.ml50 {
  margin-left: 50px; }

/*Margins ↓↓↓*/
.mt60 {
  margin-top: 60px; }

.mb60 {
  margin-bottom: 60px; }

.mr60 {
  margin-right: 60px; }

.ml60 {
  margin-left: 60px; }

/*Margins ↓↓↓*/
.mt70 {
  margin-top: 70px; }

.mb70 {
  margin-bottom: 70px; }

.mr70 {
  margin-right: 70px; }

.ml70 {
  margin-left: 70px; }

/*Margins ↓↓↓*/
.mt80 {
  margin-top: 80px; }

.mb80 {
  margin-bottom: 80px; }

.mr80 {
  margin-right: 80px; }

.ml80 {
  margin-left: 80px; }

/*Margins ↓↓↓*/
.mt90 {
  margin-top: 90px; }

.mb90 {
  margin-bottom: 90px; }

.mr90 {
  margin-right: 90px; }

.ml90 {
  margin-left: 90px; }

/*Margins ↓↓↓*/
.mt100 {
  margin-top: 100px; }

.mb100 {
  margin-bottom: 100px; }

.mr100 {
  margin-right: 100px; }

.ml100 {
  margin-left: 100px; }

@media only screen and (max-width: 991px) {
  .mt10-M {
    margin-top: 10px; } }

@media only screen and (max-width: 991px) {
  .mb10-M {
    margin-bottom: 10px; } }

@media only screen and (max-width: 991px) {
  .mr10-M {
    margin-right: 10px; } }

@media only screen and (max-width: 991px) {
  .ml10-M {
    margin-left: 10px; } }

@media only screen and (max-width: 991px) {
  .mt20-M {
    margin-top: 20px; } }

@media only screen and (max-width: 991px) {
  .mb20-M {
    margin-bottom: 20px; } }

@media only screen and (max-width: 991px) {
  .mr20-M {
    margin-right: 20px; } }

@media only screen and (max-width: 991px) {
  .ml20-M {
    margin-left: 20px; } }

@media only screen and (max-width: 991px) {
  .mt30-M {
    margin-top: 30px; } }

@media only screen and (max-width: 991px) {
  .mb30-M {
    margin-bottom: 30px; } }

@media only screen and (max-width: 991px) {
  .mr30-M {
    margin-right: 30px; } }

@media only screen and (max-width: 991px) {
  .ml30-M {
    margin-left: 30px; } }

@media only screen and (max-width: 991px) {
  .mt40-M {
    margin-top: 40px; } }

@media only screen and (max-width: 991px) {
  .mb40-M {
    margin-bottom: 40px; } }

@media only screen and (max-width: 991px) {
  .mr40-M {
    margin-right: 40px; } }

@media only screen and (max-width: 991px) {
  .ml40-M {
    margin-left: 40px; } }

@media only screen and (max-width: 991px) {
  .mt50-M {
    margin-top: 50px; } }

@media only screen and (max-width: 991px) {
  .mb50-M {
    margin-bottom: 50px; } }

@media only screen and (max-width: 991px) {
  .mr50-M {
    margin-right: 50px; } }

@media only screen and (max-width: 991px) {
  .ml50-M {
    margin-left: 50px; } }

@media only screen and (max-width: 991px) {
  .mt60-M {
    margin-top: 60px; } }

@media only screen and (max-width: 991px) {
  .mb60-M {
    margin-bottom: 60px; } }

@media only screen and (max-width: 991px) {
  .mr60-M {
    margin-right: 60px; } }

@media only screen and (max-width: 991px) {
  .ml60-M {
    margin-left: 60px; } }

@media only screen and (max-width: 991px) {
  .mt70-M {
    margin-top: 70px; } }

@media only screen and (max-width: 991px) {
  .mb70-M {
    margin-bottom: 70px; } }

@media only screen and (max-width: 991px) {
  .mr70-M {
    margin-right: 70px; } }

@media only screen and (max-width: 991px) {
  .ml70-M {
    margin-left: 70px; } }

@media only screen and (max-width: 991px) {
  .mt80-M {
    margin-top: 80px; } }

@media only screen and (max-width: 991px) {
  .mb80-M {
    margin-bottom: 80px; } }

@media only screen and (max-width: 991px) {
  .mr80-M {
    margin-right: 80px; } }

@media only screen and (max-width: 991px) {
  .ml80-M {
    margin-left: 80px; } }

@media only screen and (max-width: 991px) {
  .mt90-M {
    margin-top: 90px; } }

@media only screen and (max-width: 991px) {
  .mb90-M {
    margin-bottom: 90px; } }

@media only screen and (max-width: 991px) {
  .mr90-M {
    margin-right: 90px; } }

@media only screen and (max-width: 991px) {
  .ml90-M {
    margin-left: 90px; } }

@media only screen and (max-width: 991px) {
  .mt100-M {
    margin-top: 100px; } }

@media only screen and (max-width: 991px) {
  .mb100-M {
    margin-bottom: 100px; } }

@media only screen and (max-width: 991px) {
  .mr100-M {
    margin-right: 100px; } }

@media only screen and (max-width: 991px) {
  .ml100-M {
    margin-left: 100px; } }

.clear-b::after, .clear-b::before {
  content: "";
  display: table;
  clear: both;
  width: 100%; }

.centrado {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none; }

.ta-c {
  text-align: center; }

.ta-r {
  text-align: right; }

.ta-l {
  text-align: left; }

.ta-j {
  text-align: justify; }

.light {
  font-family: Sackers_L;
  font-weight: 300; }

.no_padding {
  padding-right: 0;
  padding-left: 0; }

label.btn input {
  display: none !important; }

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center; }
  .btn--square {
    height: 50px;
    padding: 0 10px;
    letter-spacing: 1.1px; }
  .btn--orange {
    color: #ebebeb;
    font-size: 1rem;
    background-color: #ee711a;
    font-family: 'DINNextLTPro-Bold'; }
    .btn--orange:hover {
      color: #ffffff;
      background-color: #09487d; }

.icon {
  text-align: center;
  vertical-align: middle;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }
  .icon--telephone {
    width: 30px;
    height: 30px;
    background-image: url("../img/telephone.svg"); }

form input[type='text'],
form input[type='password'],
form input[type='date'],
form input[type='phone'],
form input[type='number'],
form input[type='email'] {
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1rem;
  font-family: 'DINNextLTPro-Medium'; }

.radioBox {
  display: block;
  position: relative; }
  .radioBox label {
    cursor: pointer; }
    .radioBox label u {
      text-decoration: none;
      border-bottom: 1px solid #ebebeb; }
    .radioBox label::before {
      content: "";
      width: 24px;
      height: 24px;
      color: #014586;
      margin-top: -3px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      border: 1.5px solid #9B9B9B;
      font-size: 0.875rem;
      display: -moz-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      -moz-align-items: center;
      align-items: center;
      -ms-flex-pack: center;
      -moz-justify-content: center;
      justify-content: center; }
  .radioBox input[type='radio'], .radioBox input[type='checkbox'] {
    display: none; }
    .radioBox input[type='radio']:checked + label::before, .radioBox input[type='checkbox']:checked + label::before {
      content: "✓"; }

.boxPlanes__plan img {
  margin: 0 auto;
  display: block; }

@media only screen and (max-width: 767px) {
  .boxPlanes__plan {
    margin-bottom: 10px; } }

  @media only screen and (max-width: 767px) {
    .boxPlanes{
      width: 80% !important;
      margin-left: auto;
      margin-right: auto;
    }
    .preInfoPlanes {
      padding-bottom: 30px; } }
  .preInfoPlanes__info > * {
    color: #ffffff;
    font-size: 2.5625rem;
    font-family: 'DINNextLTPro-Black';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    line-height: 1; }
    @media only screen and (max-width: 767px) {
      .preInfoPlanes__info > * {
        text-align: center;
        font-size: 1.5625rem;
        margin-bottom: 15px; } }

.boxTeLlamamos {
  color: #ebebeb;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
  padding: 20px 35px 10px 35px;
  border: solid 4px #ffffff;
  background-color: rgba(235, 235, 235, 0.31);
  max-width: 490px;
  margin-top: 20px; }
  @media only screen and (max-width: 767px) {
    .boxTeLlamamos {
      padding: 15px; } }
  .boxTeLlamamos__info {
    margin-bottom: 1rem; }
    .boxTeLlamamos__info p {
      color: #ffffff;
      font-size: 1.75rem;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      font-family: 'DINNextLTPro-Medium'; }
      @media only screen and (max-width: 767px) {
        .boxTeLlamamos__info p {
          font-size: 1.375rem; } }
  .boxTeLlamamos__send {
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 767px) {
      .boxTeLlamamos__send {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .boxTeLlamamos__send input {
      width: 100%; }
      @media only screen and (max-width: 767px) {
        .boxTeLlamamos__send input {
          height: 50px;
          width: 100%; } }
    .boxTeLlamamos__send .btn {
      min-width: 207px; }
      @media only screen and (max-width: 767px) {
        .boxTeLlamamos__send .btn {
          width: 100%;
          min-width: auto; } }
  .boxTeLlamamos__terms {
    margin-top: 1rem; }

.banner {
  width: 100%;
  position: relative;
  background-color: #0a3f72;
	height:104vh;}
.banner img.banner__imagen{
	object-fit:cover;
	height:100%;
}
@media only screen and (max-width:414px){
	#inicio.banner {
    width: 100%;
    position: relative;
    background-color: #0a3f72 !important;
    height: 100% !important;
}
.banner__content{
  position: relative !important;
}
.banner img.banner__imagen {
  object-fit: unset;
  height: unset;
}
}
@media only screen and (max-width:375px){
	#inicio.banner {
    width: 100%;
    position: relative;
    background-color: #0a3f72;
    height: 100% !important;
	}
}
@media only screen and (max-width:320px){
	#inicio.banner {
    width: 100%;
    position: relative;
    background-color: #0a3f72;
    height: 100% !important;
	}
}
  @media only screen and (max-width: 991px) {
    .banner {
      min-height: auto; } }
  .banner__imagen {
    width: 100%;
    display: block; }
    @media only screen and (max-width: 991px) {
      .banner__imagen {
        display: none; } }
  .banner__content {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: absolute; }
  @media only screen and (max-width: 767px) {
    .banner__form {
      padding: 15px 0; } }
  .banner__footer {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-align: center;
        align-items: center; }
    @media only screen and (max-width: 767px) {
      .banner__footer {
        display: block;
        text-align: center; } }
    .banner__footer-info, .banner__footer-numb {
      line-height: 1;
      color: #ffffff; }
    .banner__footer-info {
      margin-right: 10px;
      font-size: 1.25rem;
      font-family: 'DINNextLTPro-Medium'; }
    .banner__footer-numb {
      letter-spacing: -0.8px;
      font-size: 3.125rem;
      font-family: 'DINNextLTPro-Bold'; }

.containerPlanes {
  position: relative;
  padding: 80px 0 30px 0;
  background-color: #09487d; }
  @media only screen and (max-width: 767px) {
    .containerPlanes {
      padding: 30px 0 30px 0; } }
  .containerPlanes::before {
    content: "";
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 207px;
    position: absolute;
    background-color: #0081B5; }
    @media only screen and (max-width: 767px) {
      .containerPlanes::before {
        height: 70%; } }

.modal {
  display: none; }
  .modal__close {
    top: 2rem;
    right: 2rem;
    position: absolute;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/close.png");
    cursor: pointer; }
    @media only screen and (max-width:375px){
      .modal__close{
        top: 60px;
      }
    }
  .modal__content {
    padding: 20px 80px; }
    @media only screen and (max-width: 767px) {
      .modal__content {
        padding: 80px 15px 15px 15px;
        text-align: center; } }
  .modal--callToAction {
    width: 678px;
    height: 520px;
    position: fixed;
    z-index: 5100;
    background-color: #09487d;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #ffffff; }
    @media only screen and (max-width: 767px) {
      .modal--callToAction {
        width: 100%;
        height: 100%; } }

.modal__back {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.92);
  z-index: 5000; }

.modaletb .boxTeLlamamos_modal__info span {
  color: #fff;
  font-size: 26px; }

.modaletb .boxTeLlamamos_modal__info p {
  color: #fff;
  font-size: 36px; }

.modaletb .boxTeLlamamos_modal .btn--orange {
  width: 100%;
  margin-top: 18px; }

.modaletb .boxTeLlamamos_modal .radioBox label::before {
  color: #fff; }

.mainFooter {
  padding-top: 40px;
  position: relative;
  background-color: #f6f6f6; }
  .mainFooter__form {
    color: #ee711a; }
    .mainFooter__form input[type='text'],
    .mainFooter__form input[type='password'],
    .mainFooter__form input[type='date'],
    .mainFooter__form input[type='phone'],
    .mainFooter__form input[type='number'],
    .mainFooter__form input[type='email'] {
      width: 100%;
      padding: 10px;
      background-color: transparent;
      border: 3px solid #ee711a; }
    .mainFooter__form textarea {
      width: 100%;
      resize: both;
      background-color: transparent; }
    .mainFooter__form form .wpcf7-form-control-wrap {
      display: block;
      margin-top: 10px; }
    .mainFooter__form form > p {
      margin-bottom: 25px; }
      .mainFooter__form form > p label {
        display: block;
        font-size: 1rem;
        font-family: 'DINNextLTPro-Medium'; }
    .mainFooter__form input[type='submit'] {
      width: 207px; }
  .mainFooter__end {
    padding: 20px 0;
    border-bottom: 30px solid #09487d; }
  .mainFooter__info {
    color: #006cb2; }
    .mainFooter__info h2 {
      line-height: 1;
      font-size: 2.5rem;
      font-family: 'DINNextLTPro-Black'; }
      @media only screen and (max-width: 767px) {
        .mainFooter__info h2 {
          margin-bottom: 10px;
          font-size: 1.875rem; } }
    .mainFooter__info p {
      font-size: 20px;
      color: #707070;
      font-family: 'DINNextLTPro-regular'; }
    .mainFooter__info h3 {
      line-height: 1;
      margin-top: 2rem;
      font-size: 5.25rem;
      font-family: 'DINNextLTPro-bold';
      letter-spacing: -1.5px; }
      .mainFooter__info h3 a {
        color: #ee711a; }
      @media only screen and (max-width: 767px) {
        .mainFooter__info h3 {
          font-size: 4.0625rem;
          margin-top: 1rem;
          margin-bottom: 1rem; } }

.banner__content {
  padding-top: 82px; }

.orangeline {
  background: #ff7200;
  color: #fff;
  overflow: hidden;
  padding: 4px 12px;
  position: fixed;
  z-index: 99;
  width: 100%; }

.orangeline .box {
  float: right; }
.orangeline .boxder{
  width: 50%;
  float: left;
}
.orangeline .boxder .subtext{
  margin-top:0;
  font-size: 12px;
}
.orangeline .box .img01{
  padding-top: 0px; 
  display: block; 
  float: left; 
  margin: -5px;
}
.orangeline .box .img02{
  padding-top: 0px; 
  display: block; 
  float: right; 
  margin: 2px 6px; 
  width: 47px;
}
.orangeline p {
  /*float: left;*/
  margin-top: 8px; }
@media only screen and (max-width: 767px) {
  .mainFooter__info h3 a{
    font-size: 30px;
  }
    .orangeline p {
      float: none; } 
  .orangeline .boxder{
    width: 100%;
    text-align: center;
    float:none;
  }
  .orangeline .box .img01, .orangeline .box .img02{
    display: none;
  }
  .orangeline .boxder .subtext{
    display:none;
  }
  .orangeline .box{
    display: block;
    width: fit-content;
    float: none;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
  }
  .orangeline .banner__footer-numb{
    font-size: 25px !important;
    text-align: center;
  }
}

.orangeline .banner__footer-numb {
  letter-spacing: 2px;
    font-size: 36px;
    font-family: 'DINNextLTPro-Bold';
    display: block;
    float: left;
    margin: 8px; }
  @media only screen and (max-width: 991px) {
    .orangeline .banner__footer-numb {
      letter-spacing: 0;
      font-size: 32px; } }

.boxTeLlamamos {
  background: none !important;
  border: none !important; }
  .boxTeLlamamos .boxblank {
    background: #fff;
    padding: 16px; }
  .boxTeLlamamos__info span {
    color: #007fb2;
    font-size: 25px; }
    @media only screen and (max-width: 1310px) {
      .boxTeLlamamos__info span {
        font-size: 19px; } }
  .boxTeLlamamos__info p {
    color: #014586;
    font-size: 40px;
    font-weight: 700; }
    @media only screen and (max-width: 1310px) {
      .boxTeLlamamos__info p {
        font-size: 28px; } }
  .boxTeLlamamos__send input {
    border: solid 1px #b9b9b9 !important;
    padding: 12px; }
  .boxTeLlamamos .font--terminos {
    color: #919292; }
    .boxTeLlamamos .font--terminos a {
      color: #919292 !important; }
  .boxTeLlamamos .btn--orange {
    margin-top: 15px;
    width: 100%; }

.preInfoPlanes {
  width: 86%;
  margin: 0 auto; }
  .preInfoPlanes__info h2 {
    text-align: center; }

.containerPlanes .boxtelpopup {
  text-align: right;
  position: absolute;
  width: 100%;
  top: 15px;
  cursor: pointer; }

.ondesktop {
  display: block; }
  @media only screen and (max-width: 767px) {
    .ondesktop {
      display: none; } }

.onmobile {
  display: none; }
  @media only screen and (max-width: 767px) {
    .onmobile {
      display: block; } }

.sideright {
  width: 540px;
  -ms-flex: auto;
      flex: auto; }
  @media only screen and (max-width: 1310px) {
    .sideright {
      width: 240px; } }
  @media only screen and (max-width: 991px) {
    .sideright {
      width: 100%; } }

.sideleft {
  width: calc(100% - 540px);
  -ms-flex: auto;
      flex: auto; }
  @media only screen and (max-width: 991px) {
    .sideleft {
      width: 100%; } }

.marginlado {
  margin-left: -5%; }

.toplogoetb {
  position: absolute;
  top: 12vh;
  right: 2%; }
  @media only screen and (max-width: 1040px) {
    .toplogoetb {
      position: relative;
      width: 100%;
      overflow: hidden;
      top: 0; } }

.toplogoetb img {
  padding: 0 10%;
  float: right; }
div.wpcf7-response-output{
  padding: 15px 5px !important;
}

/* Estilos Negocios Pagina */

/** Header **/
.head_negocios{
	height:auto;
}
@media only screen and (max-width: 320px){
	.head_negocios{
		height:130px;
	}
}
.blueContainer {
  width: 100%;
  background-color: #009CCF;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;
}
.boxheadertext{
	width:85%;
	display:flex;
	justify-content:center;
	align-items:center;
}
@media only screen and (max-width: 767px){
	.boxheadertext{
		width:100%;
		flex-wrap:wrap;
	}
}
.text-header{
	margin-right:25px;
}
@media only screen and (max-width: 767px){
	.text-header{
		margin-right:0;
	}
}
.boxheadertext p.linea{
	font-family: 'DINNextLTPro-regular';
	font-size:26px;
	line-height:26px;
	color:#fff;
}
@media only screen and (max-width: 400px){
	.boxheadertext p.linea{
		font-size:20px !important;
		line-height:19px !important;
		text-align:center;
	}
	.boxheadertext p.edinversiones{
		font-size:14px !important;
		line-height:18px !important;
		text-align:center;
	}
}
.boxheadertext p.edinversiones{
	font-family: 'DINNextLTPro-Bold';
	font-size:16px;
	line-height:18px;
	letter-spacing:1.4px;
	color:#fff;
}
.boxheadertext .number-header a{
	font-family: 'DINNextLTPro-Black';
	font-size:35px;
	line-height:100%;
	color:#fff;
	
}
@media only screen and (max-width: 767px){
	.boxheadertext .number-header a{
		font-size:35px;
	}
}
.boxheaderlogo{
	width:5%;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	margin-right:35px;
}
@media only screen and (max-width:414px){
  .boxheadertext p.edinversiones {
    display: none;
}
.boxheadertext {
  width: 100%;
  flex-wrap: nowrap !important;
}
.blueContainer {
  padding-left: 10px;
  padding-right: 10px;
}
.boxheadertext {
  justify-content: flex-start;
  margin-left: -10px;
}
.text-header {
  margin-right: 8px !important;
  width: 50vw;
}
.number-header{
  width: 32vw;
}
.boxheaderlogo {
  width: 15%;
  margin-right: 0;
}
.boxheadertext p.linea {
  font-size: 14px !important;
  line-height: 15px !important;
}
.boxheadertext .number-header a {
  font-size: 18px;
}
.linetelfs {
  color: #fff;
  font-size: 18px !important;
}
}
@media only screen and (max-width:375px){
  .boxheadertext .number-header a {
    font-size: 16px;
  } 
}
@media only screen and (max-width:320px){
  .head_negocios {
    height: 100% !important;
}
.blueContainer {
  padding-left: 5px;
  padding-right: 5px;
}
.boxheadertext p.linea {
  font-size: 12px !important;
  line-height: 12px !important;
  text-align: left !important;
}
.boxheaderlogo {
  width: 15%;
  margin-right: 10px;
}
.boxheadertext {
  margin-left: -20px;
}
.boxheadertext .number-header a {
  font-size: 12px;
}
}

/** Fin Header **/

/** Banner **/

.banner_negocios{
	position:relative;
}
@media only screen and (max-width:1366px){
	.banner_negocios {
    height: 113vh;
  }
}
@media only screen and (max-width:1024px){
	.banner_negocios{
		height:91vh;
	}
}
@media only screen and (max-width: 767px){
	.banner_negocios{
		height:100%;
  }
  .Grac_Negocios .encontremonos{
    display: none;
  }
  .Grac_Negocios .contlogcompa {
    position: relative !important;
    bottom: 0;
    width: 100%;
  }
  .Grac_Negocios{
    padding-top: 97px !important;
    padding-bottom: 0 !important;
  }
  .Cont-banner {
    padding-bottom: 0px !important;
}
}
@media only screen and (max-width:320px){
	.banner_negocios{
		height:100%;
	}
}
img.banner_img{
	width:100%;
}
@media only screen and (max-width:1366px){
	img.banner_img {
    	width: 100%;
    	object-fit: cover;
    	height: 100%;
	}
}

.Cont-banner {
  position: absolute;
  top: 0;
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 25px;
}
.banner_negocios .contlogcompa {
  position: absolute;
  bottom: 20%;
  width: 100%;
}
@media only screen and (max-width:414px){
  img.banner_img {
    width: 100%;
    object-fit: unset;
    height: unset;
}
.contform {
  width: 90% !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
}
@media only screen and (max-width: 414px){
  .contForm_Gracias {
    margin-top: 0px;
  } 
}

@media only screen and (max-width: 767px){
  .banner_negocios .contlogcompa {
    position: relative;
    bottom: 20%;
    width: 100%;
  }
	.Cont-banner {
    background-color: #09487d;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px !important;
  }
}
.contLeft{
	width:50%;
	position:relative;
}
.encoform{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
@media only screen and (max-width: 767px){
	.contLeft{
		width:100%;
		margin-top:0;
	}
}
@media only screen and (max-width:320px){
	.contLeft{
		margin-top:20px;
	}
}
.contlogcompa{
	position:absolute;
  bottom:12%;
  width: 100%;
}
@media only screen and (max-width:767px){
	.contlogcompa{
		position:relative;
		bottom:0;
	}
}
.contRight{
	width:50%;
	position: relative;
}
.pagaCont img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.text_terms_form{
  margin-top: 20px;
}
.text_terms_form p{
  font-family: 'DINNextLTPro-Light';
  font-size: 9px;
  line-height: 9px;
  color: #fff;
}
.encoform .encontremonos img{
  width: 89%;
}
@media only screen and (max-width:1366px){
	.contRight{
		padding-top:0px;
	}
}
@media only screen and (max-width: 767px){
	.contRight{
		width:100%;
	}
}
@media only screen and (max-width: 767px){
	.logo-fibra img{
		display:block;
		margin:0 auto;
	}
	.logo-fibra{
		margin-bottom:20px;
	}
	.compCont img{
		width:80%;
		display:block;
		margin:0 auto;
	}
	.pagaCont img{
		display:block;
		margin:0 auto;
	}
}
@media only screen and (max-width: 320px){
	.pagaCont img{
		width:80%;
	}
}
.encoform .encontremonos img{
  margin-top: -26px !important;
}
.encoform .encontremonos img,
.encoform .tlpc img{
	display:block;
	margin:0 auto;
}
@media only screen and (max-width:1366px){
	.encoform .tlpc{
		margin-top:38px !important;
	}
	.contform{
		margin-top:0px !important;
	}
	.contform p.text-form {
    	font-size: 20px !important;
	}
}
@media only screen and (max-width: 767px){
	.encoform .encontremonos img,
	.encoform .tlpc img{
		width:80%;
	}
}
.encoform .tlpc{
	margin-top:64px;
}
.contform {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: rgb(255,255,255,.38);
  margin-top: 170px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.contform p.text-form{
	font-family: 'DINNextLTPro-Medium';	
	font-size:23px;
	color:#fff;
}
@media only screen and (max-width: 320px){
	.contform p.text-form{
		font-size:18px;
	}
}
.contform label{
	display:flex;
	width:100%;
	margin-top:12px;
}
.contform input#telefonoLlamarneg{
	width:68%;
}
@media only screen and (max-width: 1280px){
	.contform input#telefonoLlamarneg{
		width:55%;
  }
  .banner_negocios .graciasRight .contlogcompa {
    position: absolute;
    bottom: 50%;
    width: 100%;
  }
}
@media only screen and (max-width: 1024px){
	.contform input#telefonoLlamarneg{
		width:44%;
	}
}
@media only screen and (max-width: 767px){
	.contform input#telefonoLlamarneg{
		width:56%;
	}
}
.contform .btn--square{
	position:relative;
	height:41px;
	padding:8px 23px;
	letter-spacing:0.94px;
}
.contForm_Gracias{
	margin-top:30px;
}
.contForm_Gracias h2{
	color:#ebebeb;
	text-align:center;
}
.contForm_Gracias p{
	font-family: 'DINNextLTPro-Medium';
	font-size: 38px;
	font-weight: 100;
}
@media only screen and (max-width: 767px){
	.contform .btn--square{
		padding:8px 15px;
	}
}
.contform .btn--orange{
	font-size:15px;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
}
@media only screen and (max-width: 767px){
	.contform .btn--orange{
		font-size:12px;
	}
}
@media only screen and (max-width: 320px){
	.contform .btn--orange{
		font-size:9px;
	}
	.contform .icon-button img{
		width:60%;
	}
	.contform .btn--square{
		padding:8px 9px;
	}
}
.contform .btn--square .icon-button{
	margin-right:5px;
	margin-left:-4px;
}
@media only screen and (max-width: 767px){
	.contform .btn--square .icon-button{
		margin-left:-9px;
	}
}
.termCont{
	margin-top:15px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
.termCont p{
	font-family: 'DINNextLTPro-Regular';	
	font-size: 13px;
	line-height:13px;
	color:#fff;
	text-align:center;
	max-width: 327px;
    margin: 0 auto;
}

/** Fin Banner **/

/* Titulos Planes Negocios */

.contplanesnegocios{
	margin-top:100px;
	margin-bottom:50px;
}
.head_cont{
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px){
	.contplanesnegocios{
		margin-top:50px;
	}
}
.contplanesnegocios .container{
	max-width:1241px;
}
.contplanesnegocios .title-planes{
	text-align:center;
}
.contplanesnegocios .title-planes h3{
	font-family: 'DINNextLTPro-HeavyCondensed';	
	font-size:60px;
	line-height:64px;
	color: #009BCF;
}
@media only screen and (max-width: 767px){
	.contplanesnegocios .title-planes h3{
		font-size:30px;
		line-height:33px;
	}
	.contplanesnegocios .title-planes h4{
		font-size:40px !important;
		line-height:45px !important;
	}
	.contplanesnegocios .title-planes p{
		font-size:45px !important;
		line-height:45px !important;
	}
}
@media only screen and (max-width: 320px){
	.contplanesnegocios .title-planes h4{
		font-size:30px !important;
		line-height:35px !important;
	}
	.contplanesnegocios .title-planes p{
		font-size:35px !important;
		line-height:35px !important;
	}
}
.contplanesnegocios .title-planes h3 span{
	color:#EE711A;
}
.contplanesnegocios .title-planes h4{
    font-family: 'DINNextLTPro-HeavyCondensed';
	font-size:70px;
	line-height:75px;
  color: #009BCF;
  font-weight: 900;
  font-style: italic;
}
.contplanesnegocios .title-planes p{
    font-family: 'DINNextLTPro-HeavyCondensed';
	font-size:55px;
	line-height:60px;
  color:#EE711A;
  font-weight: 900;
  font-style: italic;	
}
.head_Planes{
	min-width: 945px;
    display: flex;
    width: 945px;
    background-color: #EE711A;
    justify-content: space-between;
    min-height: 138px;
    padding-top: 16px;
    border-top-right-radius: 45.8px;
    border-bottom-right-radius: 45.8px;
    padding-left: 35px;
    padding-right: 66px;
    align-items: center;
    padding-bottom: 16px;
	margin-top:51px;
	z-index:1;
	position:relative;
}
@media only screen and (max-width: 767px){
	.head_Planes{
		width:100%;
		min-width:100%;
		min-height:auto;
		flex-wrap:wrap;
	}
	.head_Planes .textfib{
		width:100%;
	}
	.head_Planes .img-fib{
		width:100%;
	}
	.head_Planes .img-fib img{
		display:block;
		margin:0 auto;
	}
}
.head_Planes .textfib p{
	font-family: 'DINNextLTPro-HeavyCondensed';
	font-size:57px;
	line-height:60px;
	color:#fff;
}
@media only screen and (max-width: 767px){
	.head_Planes .textfib p{
		font-size:35px;
		line-height:35px;
		text-align:center;
	}
}
.head_Planes .textfib{
	width:75%;
}
@media only screen and (max-width: 767px){
	.head_Planes .textfib{
		width:100%;
	}
}
.head_Planes .img-fib{
	width:25%;
}
@media only screen and (max-width: 767px){
	.head_Planes .img-fib{
		width:100%;
	}
}
.contPlanesneg .boxNeg.row{
	align-items:baseline;
}
@media only screen and (max-width: 767px){
	.contPlanesneg .boxNeg.row .boxNeg--planes img{
		display:block;
		margin:0 auto;
	}
	.contPlanesneg .boxNeg.row .boxNeg--planes{
		margin-bottom:20px;
	}
}
.contPlanesneg{
	width:100%;
	background-color: #ECECEC;
	margin-top:-77px;
	position:relative;
	padding-top:100px;
	padding-bottom:10px;
}
.contplanesnegocios .contPlanesneg .container{
	max-width:1017px;
}
@media only screen and (max-width: 767px){
	.contplanesnegocios .contPlanesneg .container{
		max-width:100%;
	}
}
.ipfija p{
	font-family: 'DINNextLTPro-Medium';
	font-size:18px;
	line-height:22px;
	color:#444444;
	text-align:center;
}
.ipfija p strong{
	font-family: 'DINNextLTPro-Regular';
}
.termplanes p{
	font-family: 'DINNextLTPro-Regular';
	font-size:20px;
	line-height:22px;
	color:#444444;
	text-align:center;
}
.termplanes p a{
	color:#444444;
}
/* Fin Titulos Planes Negocios */

/** Planes Troncales **/


.contPlanesterm {
  width: 100%;
  background-color: #fff;
  margin-top: 0;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
}
.contplanesterminales .title-planes h3{
	font-family: 'DINNextLTPro-HeavyCondensed';
	font-size:57px;
	line-height:60px;
	color:#009BCF; 
	text-align:center;
}
.contplanesterminales .title-planes h3 span{
  color:#F07D1B !important;
}
.contrataya{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 78px;
}
.contrataya p{
  font-family: 'DINNextLTPro-HeavyCondensed';
  font-size: 48px;
  color: #009BCF;
}
.contrataya img{
  width: 207px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px){
	.contplanesterminales .title-planes h3 {
    	font-size: 35px;
    	line-height: 36px;
  }
  .head_cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

}



.contPlanesterm .boxNeg.row{
	align-items:unset;
}
.contPlanesterm .boxNeg.row > .col-md-4 > div{
	position:absolute;
	bottom:10%;
}
.contplanesterminales .head_Planes{
	min-width: 668px;
    display: flex;
    width: 668px;
    background-color: #009BCF;
    justify-content: space-between;
    min-height: 138px;
    padding-top: 16px;
    border-top-right-radius: 45.8px;
    border-bottom-right-radius: 45.8px;
    padding-left: 35px;
    padding-right: 66px;
    align-items: center;
    padding-bottom: 16px;
	margin-top:51px;
}
@media only screen and (max-width: 767px){
	.contplanesterminales .head_Planes{
		min-width:100%;
    width:100%;
    height: 138px;
  }
  .contrataya {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 18px;
}
.contrataya p {
  font-weight: 700;
  font-size: 30px;
  color: #009bcf;
  text-align: center;
}
	.contPlanesterm .boxNeg.row > .col-md-4 > div {
    	position: relative;
		margin-top:40px;
	}
	.contPlanesterm .boxNeg.row > .col-md-8 .row .boxNeg--planes img{
		display:block;
		margin:0 auto;
	}
	.contPlanesterm .boxNeg.row > .col-md-8 .row .boxNeg--planes{
		margin-bottom:20px;
	}
	.contplanesterminales .text__aplica {
    	padding-right: 0 !important;
	}
	.contplanesterminales .text__aplica p {
    	text-align: center !important;
	}
	.contplanesterminales .neddtron p {
    	font-size: 35px !important;
    	line-height: 35px !important;
	}
	.contplanesterminales .adtron p {
    	font-size: 30px !important;
    	line-height: 30px !important;
	}
	.footer2 h3 {
    	font-size: 35px !important;
    	line-height: 36px !important;
	}
	.footer2 h2 {
    	font-size: 60px !important;
    	line-height: 65px !important;
	}
}
.contplanesterminales .head_Planes .img-fib{
	width:100%;
}
.contplanesterminales .text__aplica{
	padding-right:30px;
}
.contplanesterminales .text__aplica p{
	font-family: 'DINNextLTPro-Regular';
	font-size:19px;
	color:#444444;
	text-align:right;
}
.contplanesterminales .neddtron p{
	font-family: 'DINNextLTPro-HeavyCondensed';
	font-size:53px;
	color:#EE711A;
	text-align:center;
}
.contplanesterminales .adtron p{
    font-family: 'DINNextLTProHeavyItalic';
	font-size:37px;
	color:#009BCF;
	text-align:center;
}

/** Fin Planes Troncales **/ 


/** Estilos Footer **/

.footer2{
	padding-top:60px;
}
.footer2 .row{
  height: 100%;
}
.col-footer1.col-md-6{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.text_footer_ne{
  width: 100%;
}

.logo-footer{
	width:100%;
	display:flex;
	align-items:flex-end;
}
.footer2 h3{
	font-family: 'DINNextLTPro-Black';
	font-size:55px;
	line-height:57px;
	color:#009BCF;
}
.footer2 p{
	font-family: 'DINNextLTPro-Regular';
	font-size:26px;
	line-height:27px;
	color:#EE711A;
}
.footer2 p.text_mini{
  font-size: 9px !important;
  line-height: 9px !important;
}
.footer2 h2{
	font-family: 'DINNextLTPro-Bold';
	font-size:99px;
	line-height:99px;
	color:#009BCF;
	letter-spacing:-1.81px;
}
.footer2 .footernegocios_form p{
	font-family: 'DINNextLTPro-Medium';
	font-size:16px;
	line-height:18px;
	color:#09487D;
	margin-bottom:30px;
}
.footer2 .footernegocios_form input{
	border:3px solid #09487D;
	padding-top:10px;
	padding-bottom:10px;
}
.footer2 .footernegocios_form .wpcf7-form-control-wrap input{
	width:80%;
}
.footer2 .footernegocios_form .wpcf7-form-control-wrap .wpcf7-list-item input{
	width:unset;
}
.footer2 .footernegocios_form .wpcf7-form-control-wrap .wpcf7-list-item{
	margin:0 0 0 0;
}
.footer2 select {
	width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #09487D;
	font-family: 'DINNextLTPro-Medium';
    font-size: 16px;
    line-height: 18px;
    color: #09487D;
	-webkit-appearance: none;
}
.footer2 .btn--orange {
    color: #ebebeb;
    font-size: 1rem;
    background-color: #ee711a;
    font-family: 'DINNextLTPro-Bold';
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: none !important;
    padding-left: 70px;
    padding-right: 70px;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
}
.copy{
	font-family: 'DINNextLTPro-Bold';
	background-color:#009BCF;
	font-size:20px;
	padding-top: 5px;
	padding-bottom: 2px;
	
}
.btns-right{
	position: fixed;
    right: 0;
    top: 20%;
	z-index:9;
}
.btns-right a img{
	width:70%;
}
.btns-right a{
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
@media only screen and (max-width: 767px){
	.footer2 .footernegocios_form .wpcf7-form-control-wrap input {
    	width: 100%;
	}
	.footer2 select{
		width:100%;
	}
	
}

.modal--callToActionN .banner__footer{
	display: flex !important;
    justify-content: space-between;
}
.modal--callToActionN{
	width: 678px;
    height: 520px;
    position: fixed;
    z-index: 5100;
    background-color: #09487d;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #ffffff;
}
.modal--callToActionT{
	width: 678px;
    height: 520px;
    position: fixed;
    z-index: 5100;
    background-color: #09487d;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #ffffff;
}
.modal--callToActionT .banner__footer{
	display: flex !important;
    justify-content: space-between;
}

/** Fin Estilos Footer **/


/** New Styles Planes Etb Hogar **/

.blue-header-hogar{
	background-color:#009BCF;
	display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
	padding-top:13px;
	padding-bottom:13px;
    align-items: center;
}
.logoHeader_hogar img{
	width:50px;
}
.blue-header-hogar p.banner__footer-info{
	font-family: 'DINNextLTPro-Regular' !important;	
	font-size:26px !important;
	line-height:27px;
}
.blue-header-hogar p.subtext{
	font-family: 'DINNextLTPro-Bold';
	font-size:16px;
	line-height:16px;
	color:#fff;
}
.blue-header-hogar .banner__footer-numb{
	font-family: 'DINNextLTPro-Bold' !important;
	font-size:35px !important;
}

.banner_Hogar.banner__content {
    padding-top: 31px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 31px;
    height: 100%;
}
.banner_Hogar.banner__content .row{
	justify-content: space-between;
    height: 100%;
}
.banner_Hogar.banner__content .colright .megas_btn {
    display: flex;
    height: 100%;
    align-content: flex-end;
    margin-top: 0px;
    flex-wrap: wrap;
    position: relative;
}
.banner_Hogar.banner__content .colright .megas_btn .btn_descubrelo p{
	font-family: 'DINNextLTPro-Regular' !important;	
	font-size:13px !important;
	line-height:13px;
	letter-spacing:-0.07px;
	color:#fff;
}
.banner_Hogar.banner__content .colright .megas_btn .btn_descubrelo {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 107px;
}
.banner_Hogar.banner__content .colright .megas_btn .btn_descubrelo img{
  position: absolute;
  top: -20%;
  max-width: 502px;
  height: 107px;
  left: -40%;
}
.banner_Hogar.banner__content .colright .megas_btn .megas{
  width: 100%;
}
.banner_Hogar.banner__content .colright .megas_btn .megas img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 33%;
}
.banner_Hogar.banner__content > .row .colleft {
    width: 70%;
}
.banner_Hogar.banner__content>.row .colleft .img-Encont img {
  width: 33%;
  margin-left: 14px;
}
.banner_Hogar.banner__content > .row .colright{
	width:30%;
}
.banner_Hogar.banner__content>.row .colleft .box_info_plan img{
  width: 64%;
}
@media only screen and (max-width:1440px){
  .banner {
    width: 100%;
    position: relative;
    background-color: #0a3f72;
    height: 88vh;
  }
  .banner_Hogar.banner__content .colright .megas_btn .megas {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width:1366px){
  .gracias-page.box_info_plan {
    margin-top: 95px;
  }
  .banner {
    width: 100%;
    position: relative;
    background-color: #0a3f72;
    height: 104vh;
  }
  .banner_Hogar.banner__content .colright .megas_btn .btn_descubrelo img {
    position: absolute;
    top: -20%;
    max-width: 502px;
    height: 107px;
    left: -40%;
  }
  .banner_Hogar.banner__content .colright .megas_btn .megas {
    width: 100%;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width:1280px){
  .banner {
    width: 100%;
    position: relative;
    background-color: #0a3f72;
    height: 78vh;
  }
  .banner_Hogar.banner__content .colright .megas_btn .megas {
    width: 100%;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width:767px){
  .text_aplican{
    margin-left: 0 !important;
    width: 100%;
    text-align: center;
  }
	.banner_Hogar.banner__content .colright .megas_btn {
    	display: flex;
    	height: 100%;
    	align-items: center;
    	margin-top: 0px;
    	flex-wrap: wrap;
	}	
}
.banner_Hogar.banner__content > .row .colleft .boxTeLlamamos {
    padding: 0px 0px 10px 0px !important;
	max-width:370px !important;
	margin-left:0 !important;
	margin-right:0 !important;
	margin-top:0 !important;
}
.banner_Hogar.banner__content > .row .colleft .boxTeLlamamos #telefonoLlamar::placeholder{
    font-family: 'DINNextLTProHeavyItalic' !important;
	font-size:12px;
	line-height:12px;
	color:#fff !important;
}
.banner_Hogar.banner__content > .row .colleft .boxTeLlamamos #telefonoLlamar{
	padding-top:10px;
	padding-bottom:10px;
}
.banner_Hogar.banner__content > .row .colleft .boxTeLlamamos .radioBox label::before {
    margin-top: 0px;
    margin-right: 5px;
    border: 1px solid #fff;
	color:#fff !important;
}
.text_mini{
	margin-top:15px;
}
.text_mini p{
    font-family: 'DINNextLTPro-Light';
	font-size:10px;
	line-height:11px;
	color:#fff;
}
.banner_Hogar.banner__content > .row .colleft .boxTeLlamamos__info span {
	font-family: 'DINNextLTPro-Bold' !important;
    font-size: 19px !important;
}
.banner_Hogar.banner__content > .row .colleft .boxTeLlamamos__info p{
	font-family: 'DINNextLTPro-Bold' !important;
    font-size: 35px !important;	
}
.banner_Hogar.banner__content > .row .colleft .boxTeLlamamos .boxblank {
    padding-left: 24px !important;
    padding-right: 40px !important;
    padding-top: 14px !important;
    padding-bottom: 0px !important;
}
.box_info_plan{
  margin-top: 18px;
  margin-left: 15px;
}
.font--terminos a{
	color:#fff !important;
}
.mainFooter__info {
    color: #0081B5 !important;
}
.mainFooter span.wpcf7-list-item {
    margin: 0 0 0 0 !important;
}
.mainFooter__form p{
	font-family: 'DINNextLTPro-Light' !important;
	font-size:9px;
	line-height:9px;
}
.mainFooter__end{
	border-bottom:30px solid #EE711A !important;
}
.form__gracias{
	margin-top:30px;
}
.banner_migracion {
  width: 100%;
  position: relative;
  height: 90vh;
}
.banner_migracion .img_ban_migracion{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.banner_migracion_content{
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
}
.elements_migracion{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.encontremonos_migracion{
  padding-right: 130px;
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}
.encontremonos_migracion img{
  width: 70%;
}
.text_migracion{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 130px;
  margin-top: 55px;
}
.text_migracion p{
  font-family: 'DINNextLTPro-Regular';
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  max-width: 764px;
}
.text_migracion p span{
  font-family: 'DINNextLTPro-Bold';
  background-color: #EA6020;  
}
.form_migracion{
  display: flex;
  justify-content: flex-end;
  padding-right: 130px;
}
.form_migracion .contform {
  display: block;
  width: 100%;
  max-width:700px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: rgb(255,255,255,.38);
  margin-top: 28px !important;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.showdesktop{
  display: block;
}
.showmobile{
  display: none;
}
.logo_mig{
  position: absolute;
  bottom: 0;
  right: 0;
}
.form_migracion .radioBox label::before {
  content: "";
  width: 24px;
  height: 24px;
  color: #fff !important;
  margin-top: 0 !important;
  border: 1.5px solid #fff !important;
}
.gracias_migration{
  padding-top: 190px;
}
.logoHeader_hogar{
  width: 5%;
}
.text_num {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxder{
  margin-right: 20px;
}
@media only screen and (max-width:1366px){
  .banner_migracion {
    width: 100%;
    position: relative;
    height: 110vh;
  }
  .contform input#telefonoLlamarneg {
    width: 68%;
  }
}
@media only screen and (max-width:1280px){
  .contform input#telefonoLlamarneg {
    width: 66%;
  }
  .contrataya p {
    font-size: 40px;
    text-align: center;
} 
}
@media only screen and (max-width:767px){
  .modal--callToActionN{
    width: 100%;
    height: 100%;
  }
  .modal--callToActionN .banner__footer{
    display: block !important;
  }
  .modal--usodatos{
    height: unset !important;
  }
}
@media only screen and (max-width:414px){
  .boxder {
    margin-right: 7px;
    padding-left: 23px;
  }
  .blue-header-hogar p.banner__footer-info {
    font-size: 12px !important;
  }
  .blue-header-hogar .banner__footer-numb {
    font-size: 20px !important;
  }
  .logoHeader_hogar {
    width: 16%;
  }
  .logoHeader_hogar img {
    width: 60px;
}
  .banner__footer-info {
    margin-right: 0;
}
  .blue-header-hogar p.subtext{
    display: none;
  }
  .blue-header-hogar {
    padding-left: 5px;
    padding-right: 5px;
    flex-wrap: nowrap !important;
} 
  .logo_mig{
    width: 50%;
  }
  .banner_migracion {
    height: 100vh;
  }
  .showdesktop{
    display: none;
  }
  .showmobile{
    display: block;
  }
  .blue-header-hogar {
    width: 100%;
    flex-wrap: wrap;
  }
  .logoHeader_hogar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .blue-header-hogar p.banner__footer-info {
    text-align: center;
  }
  .blue-header-hogar p.subtext {
    text-align: center;
  }

  .banner_migracion_content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .elements_migracion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  .encontremonos_migracion {
    padding-right: 0;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .encontremonos_migracion img {
    width: 100%;
  }
  .text_migracion {
    justify-content: center;
    padding-right: 0;
    margin-top: 55px;
  }
  .text_migracion p{
    font-size: 16px;
    line-height: 19px;
  }
  .form_migracion {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
  .form_migracion .contform {
    display: block;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: rgb(255,255,255,.38);
    margin-top: 28px !important;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .logo_migracion{
    position: absolute;
    bottom: -25%;
    right: -72%;
  }
  .logo_migracion img{
    width: 50%;
  }
}
@media only screen and (max-width:375px){
  .logoHeader_hogar {
    width: 18%;
  }
  .logoHeader_hogar img {
    width: 80px;
}
  .boxder {
    margin-right: 0;
    padding-left: 15px;
  }
  .blue-header-hogar p.banner__footer-info {
    font-size: 10px !important;
  }
  .blue-header-hogar .banner__footer-numb {
    font-size: 17px !important;
}
  .blue-header-hogar {
    padding-left: 5px;
    padding-right: 5px;
    flex-wrap: nowrap !important;
  }
  .banner__footer-info {
    margin-right: 5px;
    margin-left: 16px;
  }
  .form_migracion .contform {   
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .text_migracion {
    margin-top: 20px;
  }
}
@media only screen and (max-width:320px){
  .blue-header-hogar .banner__footer-numb {
    font-size: 15px !important;
}
  .banner_migracion {
    height: 140vh;
  }
}
@media only screen and (max-width:414px){
  .encontremonos{
    margin-top: 20px;
  }
  .contform {
    margin-left: auto;
    margin-right: auto;
  }
  .compCont{
    margin-bottom: 20px;
  }
  .logo-footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer2 p {
    font-size: 21px;
    line-height: 20px;
  }
}
@media only screen and (max-width:414px){
  .head_negocios .blueContainer .boxheaderlogo .logoneg img{
    width:65%;
  }
  .banner_Hogar.banner__content {
    padding-top: 31px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 31px;
    height: 100%;
}
  .banner_Hogar.banner__content > .row .colleft {
    width: 100%;
  }
  .banner_Hogar.banner__content > .row .colright {
    width: 100%;
  }
  .banner_Hogar.banner__content .colright .megas_btn .btn_descubrelo {
    margin-bottom: 23px;
    width: 100%;
  }
  .btn_descubrelo img {
    display: none;
}
  .banner_Hogar.banner__content .colright .megas_btn .btn_descubrelo p {
    text-align: center !important;
    margin-top: 20px;
  }
  .banner_Hogar.banner__content > .row .colleft .boxTeLlamamos__info p {
    font-family: 'DINNextLTPro-Bold' !important;
    font-size: 25px !important;
  }
  .logo_mig {
    right: -41px;
}
}
@media only screen and (max-width:375px){
  .banner_Hogar.banner__content > .row .colleft .boxTeLlamamos #telefonoLlamar::placeholder{
	font-size:10px !important;
	line-height:12px;
}
.radioBox label u {
  font-size: 13px !important;
}
.logo_mig{
  right: -37px;
}
}
@media only screen and (max-width:320px){
  .logo_mig{
    right: -32px;
  }
  .banner_Hogar.banner__content > .row .colleft .boxTeLlamamos__info p {
    font-family: 'DINNextLTPro-Bold' !important;
    font-size: 20px !important;
}
.banner_Hogar.banner__content > .row .colleft .boxTeLlamamos #telefonoLlamar::placeholder{
	font-size:9px !important;
	line-height:12px;
}
.radioBox label u {
  font-size: 12px !important;
}
.banner_Hogar.banner__content > .row .colleft .boxTeLlamamos .boxblank {
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-top: 30px !important;
  padding-bottom: 0px !important;
}
}
/** End New Styles Planes Etb Hogar **/


/* Fin Estilos Negocios Pagina */
/*!
 * Desarrollo y maquetacion por Brayan Camargo https://brayansti.github.io
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Brayan Camargo
 */

/*# sourceMappingURL=maps/main.css.map */


/*------------------*/

.boxllamada{
  background-color: #3580BF;
  min-width: 332px;
  min-height: 90px;
  position: absolute;
  right: 13%;
  top: 0;
  border-bottom-left-radius: 10px;
  z-index: +9;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.boxllamada::after{
  content: "";
  width: 0;
  height: 0;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  border-left: 9px solid #3580BF;
  border-bottom: 13px solid #3580BF;
  position: absolute;
  right: -21px;
  bottom: -2px;
  transform: rotateX(150deg);
}

.showM{
  display:none;
}

@media only screen and (max-width:480px){
  .showM{
    display:block;
  }
  .showD{
    display: none;
  }
}
.boxTelefonos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}