@font-face {
  font-family: 'DINNextLTPro-Black';
  src: url("../fonts/DINNextLTPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Black.otf") format("opentype"), url("../fonts/DINNextLTPro-Black.woff") format("woff"), url("../fonts/DINNextLTPro-Black.ttf") format("truetype"), url("../fonts/DINNextLTPro-Black.svg#DINNextLTPro-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINNextLTPro-Bold';
  src: url("../fonts/DINNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Bold.otf") format("opentype"), url("../fonts/DINNextLTPro-Bold.woff") format("woff"), url("../fonts/DINNextLTPro-Bold.ttf") format("truetype"), url("../fonts/DINNextLTPro-Bold.svg#DINNextLTPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINNextLTPro-Medium';
  src: url("../fonts/DINNextLTPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Medium.otf") format("opentype"), url("../fonts/DINNextLTPro-Medium.woff") format("woff"), url("../fonts/DINNextLTPro-Medium.ttf") format("truetype"), url("../fonts/DINNextLTPro-Medium.svg#DINNextLTPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINNextLTPro-Regular';
  src: url("../fonts/DINNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Regular.otf") format("opentype"), url("../fonts/DINNextLTPro-Regular.woff") format("woff"), url("../fonts/DINNextLTPro-Regular.ttf") format("truetype"), url("../fonts/DINNextLTPro-Regular.svg#DINNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINNextLTPro-Light';
  src: url("../fonts/DINNextLTPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Light.otf") format("opentype"), url("../fonts/DINNextLTPro-Light.woff") format("woff"), url("../fonts/DINNextLTPro-Light.ttf") format("truetype"), url("../fonts/DINNextLTPro-Light.svg#DINNextLTPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
    font-family: 'DINNextLTPro-BlackItalic';
    src: url('../fonts/DINNextLTPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-BlackItalic.woff') format('woff'),
        url('../fonts/DINNextLTPro-BlackItalic.ttf') format('truetype'),
        url('../fonts/DINNextLTPro-BlackItalic.svg#DINNextLTPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'DINNextLTPro-HeavyCondensed';
    src: url('../fonts/DINNextLTPro-HeavyCondensed.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-HeavyCondensed.woff') format('woff'),
        url('../fonts/DINNextLTPro-HeavyCondensed.ttf') format('truetype'),
        url('../fonts/DINNextLTPro-HeavyCondensed.svg#DINNextLTPro-HeavyCondensed') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTProHeavyItalic';
    src: url('../fonts/DINNextLTPro-HeavyItalic.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-HeavyItalic.woff') format('woff'),
        url('../fonts/DINNextLTPro-HeavyItalic.ttf') format('truetype'),
        url('../fonts/DINNextLTPro-HeavyItalic.svg#DINNextLTPro-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

.DINNextLTPro-Black{
  font-family: DINNextLTPro-Black;
}

.DINNextLTPro-Light{
  font-family: DINNextLTPro-Light;
}

.DINNextLTPro-Regular{
  font-family: DINNextLTPro-Regular;
}

.DINNextLTPro-Bold{
  font-family: DINNextLTPro-Bold;
}

.DINNextLTPro-Medium{
  font-family: DINNextLTPro-Medium;
}

/**Nav**/
.backgroundBlue{
	background-color: #009bcf;
}

.backgroundBlue2{
	background-color: #0081b5;
}

.backgroundBlue3{
  background-color: #0a3f72;
}

.backgroundBlue4{
  background-color: #09487d;
}

.backgroundOrange{
  background-color: #ee711a !important;
}

.textWhite{
	color: #fff;
}

.textGray{
	color:#d0c9c3;
}

.textGray2{
  color: #707070;
}

.textOrange{
  color:#ee711a;
}

.textBlue{
  color: #009bcf;
}

.textBlue2{
  color: #09487d;
}

.logoETB{
	width: 40%
}

.logoHeader_hogar {
	width:5%;
}

.logoHeader_hogar img{
	width:50px;
}

.tel{
	width: 80%;
}

.boxllamada .p10{
	padding: 10px;
}

.boxllamada {
    background-color: #3580BF;
    min-width: 332px;
    min-height: 90px;
    position: absolute;
    right: 13%;
    top: 0;
    border-bottom-left-radius: 10px;
    z-index: +9;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.boxllamada::after {
    content: "";
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-left: 9px solid #3580BF;
    border-bottom: 13px solid #3580BF;
    position: absolute;
    right: -21px;
    bottom: -2px;
    transform: rotateX(150deg);
}

.blue-header-hogar {
    background-color: #009BCF;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 4px;
    align-items: center;
}

.boxText {
    text-align: center;
    height: 5rem;
    position: relative;
    width: 100%;
    color: #ebebeb;
    font-size: 3rem;
    font-size: 2rem;
    background-color: #ee711a;
    font-family: 'DINNextLTPro-Regular', sans-serif;
    padding-top: 1rem;
    margin: 0;
}

.boxTeLlamamos {
    color: #ebebeb;
    margin-left: 2rem;
    margin-right: 10px;
    max-width: 490px;
    margin-top: 5rem;
    padding-left: 10rem;
    width: 100%;
}

.boxTelefonos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  color: white;
  font-family: 'DINNextLTPro-Regular' , sans-serif;
}

.telFijo{
  font-size: 17px;
  line-height: 1px;
}

.boxTelefonos .size23{
	font-size: 23px;
	text-transform: uppercase;
}

.boxblank {
    background: none;
    background: #183146a8;
    padding-bottom: 2rem;
}

 .boxTeLlamamos__terms {
    margin-top: 1rem;
}

.boxTeLlamamos__info{
	margin-bottom: 10px;
	font-family: 'DINNextLTPro-Regular', sans-serif;
	font-size: 20px;
}

.width25{
	width:25%;
}

.btn-form {
    width: 100% !important;
    font-size: 1.9rem;
    margin-top: 0 !important;
    font-family: 'DINNextLTPro-Regular' !important;
}

.banner_Hogar.banner__content {
    padding-top: 31px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 31px;
    height: 100%;
}

.banner__imagen{
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.banner__content {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.css-nav-movil{
  position: absolute;
  z-index: 1000;
}

.css-nav-movil-height{
  height: 5em;
}

.img-Encont {
    width: 100%;
    height: calc(100vh - 110px);
    padding-top: 3rem;
}

.banner{
	width: 100%;
	height: calc(100vh - 60px);
}

.terminos{
	font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'DINNextLTPro-Light';
}

.dejanos{
  font-size: 55px;
  color: #0081b5;
  line-height: 1;
  margin: 0;
}

a:hover{
  color: #009bcf;
}

.fz27{
  font-size: 27px;
}

.numerosPrincipal{
  font-size: 99px;
  letter-spacing: -5px;
  line-height: 57px;
}

.borderBlue{
  border: 4px solid #09487d !important;
  }

.borderOrange{
  border: 4px solid #ee711a !important;
}

.terminosfooter{
  font-size: 9px;
}

@media (max-width: 575.98px) {
  .boxTeLlamamosMovil {
    color: #ebebeb;
    max-width: 490px;
    margin-top: 5rem;
    width: 100%;
}
  .banner{
  width: 100%;
  height: 100%;
}
}

